body {
  background-image: linear-gradient(to bottom, #000000, #020202, #040403, #050505, #070707, #080808, #0a0a0a, #0b0b0b, #0c0c0c, #0d0d0d, #0e0e0e, #0f0f0f);
  color: white;
  min-height: 100vh;
}

.teamname {
  animation: slideinfromleft 1s ease-in;
}
.manager {
  animation: slideinfromleft 1s ease-in;
}

.directreports-container {
  animation: slideinfromleft 1s ease-in;
}

@keyframes slideinfromleft {
  0% {
    transform: translateY(-10rem);
  }
  70% {
    transform: translateY(3rem);

  }
  100% {
    transform: translateY(0);
  }
}
